.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: #222;
	text-shadow: 2px 2px #eee;
}

.title {
	font-size: 2rem;
	margin-bottom: 2rem;
}

form {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

input[type='text'] {
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 40px;
	width: 60%;
	margin-right: 0.5rem;
}

button {
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f2f2f2;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
}

li {
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
	input[type='text'],
	button {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0.5rem;
	}
}
