button {
	background-color: #1e90ff;
	color: Black;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover {
	background-color: #1873bb;
}

.google-map {
	height: 100%;
	width: 100%;
}
